@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}

a{
  text-decoration: none;
}
